body {
    background-image: url('https://images.unsplash.com/photo-1608478062707-13ee460ad6cb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJhaW5mYWxsJTIwcHJlZGljdGlvbnxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: 1900px 1000px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #08640d;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}